{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<!--    <h1>Index I should see this change with a page refresh</h1>-->
<!--    <p class="important">-->
<!--      Welcome to my awesome homepage.-->
<!--        <img src="{{ url_for('static', filename='images/sample.jpeg') }}">-->
<!--    </p>-->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title> Website Tutorial</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <!--   <link href="css/main.css" rel="stylesheet" > -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
   <body>

         <br>

         <h1>Intro to Azure</h1>
         <br>
         <p> Microsoft Azure, commonly referred to as Azure, is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications and services through Microsoft-managed data centers. </p>
         <br>
         <ul>
            <li> Visit <a href="https://azure.microsoft.com/en-us/free/search/">this site</a> to create an Azure account with username and password.</li>
            <li> Follow the prompts to create your personal account or organization. </li>
            <h2> Docker-Azure integration</h2>
            <li> Log into Azure account.</li>
            <li> In the command prompt run "docker login azure". this should to take you to a login page.</li>

            <li> Create an ACI context with the command "docker context create aci myacicontext".</li>

            <li> Running the command "docker --context myacicontext run -p 8080:80 nginx" will now host your site on the internet.</li>

            <li> To view logs from your container, run: "docker logs **container id**".</li>

         </ul>
         <h3>And now your website is finished! feel free to go back to the <a href="/index"> home page </a> if you want to go over the material again </h3>

</body>
          {% endblock %}
      </footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </div>
</html>
