{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index I should see this change with a page refresh</h1>
    <p class="important">
      Welcome to my awesome homepage.
        <img src="{{ url_for('static', filename='images/sample.jpeg') }}">
    </p>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title> Website Tutorial</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <!--   <link href="css/main.css" rel="stylesheet" > -->
   <link href="main.css" rel="stylesheet">
   <body>
      Tutorial
      <div class="container-fluid">
         <div class="row">
            <nav class="navbar navbar-expand-md
               justify-content-start
               bg-dark navbar-dark
               col-12">
               <!-- Brand -->
               <a class="navbar-brand" href="index.html"></a>
               <!-- Responsive Button for the smaller menu -->
               <button class="navbar-toggler" type="button"
                  data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
               </button>
               <!-- Links -->
               <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                     </li>
                     <li class="nav-item">
                     </li>
                     <li class="nav-item">
                     <a class="nav-link" href="OOP.html">OOP</a>
                     <li class="nav-item">
                     <a class="nav-link" href="AAA%20Testing.html">AAA Testing</a>
                     <li class="nav-item">
                     <a class="nav-link" href="OOP%20concepts.html">OOP Concepts</a>
                     <li class="nav-item">
                      <a class="nav-link" href="azure.html">Azure cloud</a>"
                      <li class="nav-item">
                     <a class="nav-link" href="calculator.html">Calculator program</a>
                      <li class="nav-item">
                      <a class="nav-link" href="calculator2.html">Calculator</a>

                      </li>
                     </div>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
         <div>
         </div>
         <header>
            <h1>
               <center> Welcome!  </center>
                  Sign Up & Start Learning! <br>
                  <ul>
                      <li> Azure cloud</li>
                      <li>OOP</li>
                     <li>AAA Testing</li>
                     <li>PyTest</li>
                      </ul>

            </h1>
            <h2>
            </h2>
            <h5>
         </header>
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>

   <div>


   </div>
   <footer class="footer page-footer font-small ">
   <div class="container">
   <div class="row">
   <span class="text-muted">&copy; 2021 |  Terms Of Use  |  Privacy Statement</span>
   </div>
   </div>
       <br>

    </div>
{% endblock %}
   </footer>
   </div>
</html>
